################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/CapstoneTest/obj/*
/ScoreboardClient/.vs
/ScoreboardClient/ScoreboardClient/bin/Debug/netcoreapp2.1
/ScoreboardClient/ScoreboardClient/obj
/WebAPI/.vs
/WebAPI/CapstoneTest/bin
