################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/CapstoneTest/obj/*
/ScoreboardClient/.vs
/ScoreboardClient/ScoreboardClient/bin/Debug/netcoreapp2.1
/ScoreboardClient/ScoreboardClient/obj
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.pdb
ScoreboardClient/ScoreboardClient/appsettings.json
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.dll
*.json
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.dll
ScoreboardClient/ScoreboardClient/appsettings.json
ScoreboardClient/ScoreboardClient/wwwroot/css/Scoreboard.css
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.Views.pdb
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.Views.dll
/WebAPI/.vs
/WebAPI/CapstoneTest/bin/Debug/netcoreapp2.1
/WebAPI/CapstoneTest/bin/Release/netcoreapp2.1
