################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/CapstoneTest/obj/*
/ScoreboardClient/.vs
/ScoreboardClient/ScoreboardClient/bin/Debug/netcoreapp2.1
/ScoreboardClient/ScoreboardClient/obj
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.pdb
ScoreboardClient/ScoreboardClient/appsettings.json
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.dll
*.json
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.dll
ScoreboardClient/ScoreboardClient/appsettings.json
ScoreboardClient/ScoreboardClient/wwwroot/css/Scoreboard.css
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.Views.pdb
ScoreboardClient/ScoreboardClient/bin/Release/netcoreapp2.1/ScoreboardClient.Views.dll
CapstoneUI/.idea/codeStyles/Project.xml
CapstoneScoreboard/v2/.idea/workspace.xml
CapstoneScoreboard/v2/CapstoneUI/app/src/main/res/layout/activity_main.xml
