
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <div style="max-width:500px; margin:0 auto;">
        <h1>Media Management</h1>
        <hr /><br />
        <a href="/ManageMedia/Players" class="btn btn-lg btn-primary" id="PlayerImgBtn">Player Image Management</a><br /><br />
        <a href="/ManageMedia/Teams" class="btn btn-lg btn-primary" id="TeamImgBtn">Team Image Management</a><br /><br />
        <a href="/ManageMedia/Video" class="btn btn-lg btn-primary" id="MediaVideoBtn">Media Video Management</a><br /><br />
        <a href="/ManageMedia/Images" class="btn btn-lg btn-primary" id="MediaImgBtn">Media Image Management</a><br /><br />
    </div>
</div>



