@model ScoreboardClient.Models.ViewModels.ManageImageViewModel
@{
    ViewData["Title"] = "Player Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_PageMessages", Model.Messages)
<div class="text-center">
    <h1>Manage Team Images</h1>
    <hr />
    <h3>Add new image.</h3>
    <p><i>The following formats are accepted: .APNG, .BMP, .JPG, .JPEG, .PNG, .SVG, .WEBP</i></p>
    <form id="fileUploadForm" asp-action="UploadTeamImage" asp-controller="ManageMedia" method="POST" enctype="multipart/form-data">
        <label>New File Name </label>
        <input type="text" name="FileName" class="form-control" required />
        <label>File: </label>
        <input type="file" name="ImageFile" class="form-control" required />
        <br /><br />
        <button class="btn btn-lg btn-primary" name="Submit" value="Submit" type="Submit">Submit</button>
    </form>
    <hr />
    <br />
    <div>
        <div class="text-left">
            <h3>Available Images: </h3>
            <table class="table table-striped thumbNailTable" style="vertical-align:central">
                <thead>
                    <tr>
                        <th>FileName</th>
                        <th>File Size</th>
                        <th>Thumbnail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var image in Model.Images)
                {
                    <tr>
                        <td><a href="~/teams/@image.FileName">@image.FileName</a></td>
                        <td>@($"{image.FileSize} Mb")</td>
                        <td style="padding-left:20px;"><img height="50" width="50" src="~/teams/@image.FileName" alt="@image.FileName" /></td>
                        <td>
                            <form action="/ManageMedia/DeleteTeamImage" method="post" onSubmit="return OnDeleteMediaClick();">
                                <input type="hidden" value="@image.FileName" name="FileName" />
                                <button class="btn btn-sm btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <a class="btn btn-lg btn-primary" href="/ManageMedia">Back</a>
</div>

@section Scripts{
    <script>
        function OnDeleteMediaClick(e) {
            var c = confirm("Click Ok to confirm delete, this media will no longer be available for team logos, any teams using this logo will be affected.");
            return c;
        }
    </script>
}


